<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF" version="20.2.38" targetFramework="net40-client" />
  <package id="Infragistics.WPF.DataGrids" version="20.2.38" targetFramework="net40-client" />
  <package id="Infragistics.WPF.DockManager" version="20.2.38" targetFramework="net40-client" />
  <package id="Infragistics.WPF.Editors" version="20.2.38" targetFramework="net40-client" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="Prism.Core" version="8.0.0.1909" targetFramework="net48" />
  <package id="Prism.Forms" version="8.0.0.1909" targetFramework="net48" />
  <package id="Prism.Unity" version="8.0.0.1909" targetFramework="net48" />
  <package id="Prism.Wpf" version="8.0.0.1909" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" />
  <package id="Unity.Abstractions" version="5.11.6" targetFramework="net48" />
  <package id="Unity.Container" version="5.11.8" targetFramework="net48" />
  <package id="Xamarin.Forms" version="4.8.0.1364" targetFramework="net48" />
</packages>